.res{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:30px;
    padding:50px;
    text-align:center;
    margin:0 auto;
background-color: pink;
}
.body{   
    padding:20px;   
}
.head{
    background-image: linear-gradient(rgb(247, 172, 88),rgb(230, 66, 161));
    text-align: center;
    color:rgb(248, 244, 244);
}
.finalresult{
    border:2px solid red;
    width:300px;
    height:300px;
    margin:0 auto;
    background-color:powderblue;
}
